*, *:before, *:after
    box-sizing: border-box

body
    font-family: $exo2
    color: $black
    font-weight: 300
    font-size: 20px
    line-height: 24px
    min-width: 320px
    overflow-x: hidden 

.container
    width: 100%
    max-width: 1270px
    margin: 0 auto
    padding: 0 15px

.wrapper
    width: 100%
    max-width: 1440px
    margin: 0 auto

a
    text-decoration: none
    color: $black
    font-family: $exo2

img
    display: block
    width: 100%
    height: auto

.section
    &__title
        font-size: 32px
        line-height: 38px
        font-weight: 400
        border-bottom: 3px solid $accent
        display: inline-block
